.card{
    display: flex;
    flex-direction: row;
    padding-left: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    border: 1px solid lightgray;
    border-radius: 20px;
    margin-right: 10px;
    padding-right: 10px;
    overflow: hidden;
}

.img{
    width: 120px;
    transform: translateX(-10px);
    height: 139px;
    
    align-self: center;
   
}
.lower-card{
    display: flex;
    justify-content: space-between;
}
.btn{
    width: 100px;
    border: 1px solid;
    border-radius: 10px;
   background-color: rgb(94, 19, 19);
}

h6{
    width: 150px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}