.profile-container{
    padding: 20px;
    display: flex;
    gap: 50px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.profile-image{
    max-width: 400px;
    height: auto;
    display: flex;
    justify-content:first baseline;
}

#img{
      width: 60%;
      height: 50%;
    border: 1px solid;
    border-radius: 50%;
    }

  

  .name-container{
    display: flex;
    flex-direction: column;

  }
  .edit{
    display: flex;
    justify-content: center;
    margin-top: 56px;
  }  
  .edit button{
    width: 20vh;
    height: 6vh;
    border: 1px solid;
    background-color: rgb(47, 30, 30);
    color: white;
    border-radius: 20px;
  }
    .add-p{
      font-size: small;
      font-weight: 700;
      
      color: rgb(118, 109, 109);
      }  
   
    #share-button{
    border: none;
    
      background:none;
    }
    #share-button svg{
        font-size: 30px;
        margin-bottom: 15px;
    
    }
  #about-me{
    font-size:15px;
    font-weight: 100;
    color: rgb(118, 109, 109);
    width: 200px;
  }
  
    .heading-about{
      font-size: 20px;
      font-weight: 680;
    }
  
.location{
    display: flex;
    margin-bottom: 15px;
    align-items: center;
    gap: 10px;
}
  #name-p{
    font-size: 30px;
    width: 310px;
    
    font-weight: 700;
  
  }
  .interest-container{

    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

  }
  .interest-container p{
      align-self: flex-start;
        font-size: 20px;
      }
    
    .interest{
  
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: auto auto auto;
    gap: 9px;
    }
    #heading-about{
    
        font-weight: 700;
    }
    .interest  button{
      border-radius: 5px;
      width: 100px;
      height: 30px;
      font-size:12px;
      /* // border: 2px solid; */
    }
  
  .about{
    margin-bottom: 25px;
  }